/* Global */
body {
	padding: 30px 0 50px;
	font-family: $font-family-sans-serif;
	font-weight: $headings-font-weight;
}

h1, h2, h3 {
	text-align: center;
}

h4 {
	font-size: 26px;
	padding: 6px 0;
    margin: 10px 0;
}

/* Forms */
form {
	height: auto;
	margin: 0 auto;
	padding: 0;

	textarea.form-control {
		height: 125px;
	}
}

button.btn {
	margin-top: 20px;
	display: inline-block;
    text-shadow: none;
    font-weight: bold;
}

.validation-errors {
	display: none;
	color: $brand-danger;
	text-align: center;
	margin-bottom: 30px;
}

.validation-errors span {
	display: block;
	margin-bottom: 5px;
}

.contact-form {
	margin-top: 30px;

	#submitForm {
		margin-top: 40px;
		.material-icons {
			font-size: 20px;
		    position: relative;
			top: -1px;
		}
	}

	span.error-block {
	    background: $brand-danger;
	    color: #fff;
	    padding: 2px 3px;
	    margin: 0;
	    position: relative;
	    top: -10px;
	    display: inline-block;
	    width: 100%;
	    font-size: 12px;
	}
}

/* Common */
.contact-box {
	position: relative;

	.panel-title {
		font-weight: bold;
	}

	.panel-body {
	    min-height: 200px;
    	padding-bottom: 0;

		p,
		.material-icons {
			font-size: 14px;
			line-height: 18px;
		}

		.material-icons {
			float: left;
			margin-right: 5px;
		}
	}
}

.header-option-button {
	font-size: 14px;

	.material-icons {
	    position: relative;
		top: -1px;
	}
}

/* SnackbarJS */
#snackbar-container {
	top: 15px;
	bottom: auto;
    left: 50%;
    @include translate( -50%, 0 );
}
.snackbar {
    background-color: $brand-primary;
    border-radius: 0;

    &.snackbar-opened {
	    margin-bottom: 10px;
	}
}

@media (max-width: 767px) {

	.btn {
		display: block;
	}

	h4 {
		font-size: 20px;
		padding: 9px 0;
	    margin: 10px 0;
	}

    #snackbar-container {
        left: 15px !important;
        right: 15px !important;
        top: 0;
        width: auto;
        @include translate( 0, 0 );
    }
}

